<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo App</title>
    <script src="https://kit.fontawesome.com/482c652b1c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <a id="signin" href="/user/signin">Sign in</a>
    <a id="signup" href="/user/signup">Sign up</a>
    <main>
        <p>Try adding a task:</p>
        <form id="add-task" action="/new-task" method="post">
            <div >
                <textarea name="description" id="" cols="30" rows="5" placeholder="Description...." required></textarea>
                <input type="text" name="category" placeholder="Choose a category..." required>
                <img id="arrow" src="./images/down.png" alt="">
                <ul class="list">
                    <li>School or College</li>
                    <li>Work</li>
                    <li>Friend</li>
                    <li>Cleaning</li>
                    <li>Other</li>
                </ul>
                <input type="date" name="date" required>
            </div>
            <button type="submit" form="add-task"><i class="fa-solid fa-plus"></i><span>Add Task</span></button>
            <button type="submit" form="task-container"><i class="fa-solid fa-trash-can"></i><span>Delete Task</span></button>
        </form>

        <p><i class="fa-regular fa-hourglass-half"></i><span>Pending Tasks:</span> </p>
        <form id="task-container" action="/del-tasks" method="post">
            <% for(let i of tasks) {%>
                <div class="task">
                    <input class="tick" type="checkbox" name=<%=i._id %>  value=<%=i._id %>>
                    <p><span class="task-description"><%=i.description %></span><span class="label"><%=i.category %></span></p>
                    <p><i class="fa-solid fa-calendar-days"></i><span class="date"><%=i.date %></span></p>
                </div>
                <% } %>
        </form>    
    </main>
    <script type="text/javascript" src="./js/home.js"></script>
</body>
</html>